<%-include ('header.ejs') %>
<div class="cadre">
    <center>
        <h1>Bienvenue</h1>
        <h2><%= users.nom %>&nbsp;<%= users.prenom %></h2>
        <h3><%= users.email %></h3>
        <a href="/listefilms">
            <button>Continuer</button>
        </a>
    </center>
</div>
