<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciné</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="ejs.min.js"></script>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navadmin">
            <a href="/listefilms/"><button>Liste des Films</button></a>
            <a href="/creafilm/"><button>Nouveau film</button></a>
            <a href="/creaacteur/"><button>Nouvel Acteur</button></a>
            <a href="/creareal/"><button>Nouveau Réalisateur</button></a>
            <a href="/creagenre/"><button>Nouveau Genre</button></a>
        </nav>
    </header>
