<%-include ('header.ejs') %>
<center>
<h1>Liste film</h1>

<% if (locals.user.role == 'admin') { %>
        <a href="/ajout/"><button>Edition</button></a><br><br>
<% }; %>
 <a href="/profil"><button>Profil</button></a><br>
</center>
    <section>
    <div class="scroll">
        <ul>
            <% film.forEach( (f) => { %>
                <li class="film" id="<%= f.id_film %>">
                    <p><%= f.titre %></p>
                </li>
            <% }); %>
        </ul>
    </div>
        <div id="detailfilm"></div>
    </section>
    <script src="script.js"></script>
<%-include ('footer.ejs') %>